<br />
<a href="@Url.Action("Write","Home",new { key="test", text ="test2"})" target="_blank">Dodaj klucz 'test' wartosc 'test2'</a>
<br />
<a href="@Url.Action("Read","Home",new { key="test"})" target="_blank">Czytaj klucz 'test'</a>
<br />
<a href="@Url.Action("Remove","Home",new { key="test"})" target="_blank">Usun klucz 'test'</a>